body {
    font-family: 'Fredoka', sans-serif;
    background-color: #F0E3D1;
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    text-align: center;
}
.container {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 40px;

    width: 200%;
    margin-right: 0;
}
.form-group {
    margin-bottom: 2rem;
    margin-top: 2rem;
    display: flex;
    justify-content: center;
}
.form-group input {
    border-radius: 10px;
    width: 50%;
    padding: 15px;
    font-size: 1.5rem;
}
.btn-primary {
    background-color: #B95C00;
    border-color: #B95C00;
    width: 15%;
    height: 50px;
    font-size: 1.4rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    border-radius: 10px;
}
.btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}
.mt-5 {
    margin-top: 3rem !important;
}
.error-message {
    color: red;
    margin-top: 1rem;
}
a{
    color: #B95C00;
}
h2 {
    font-size: 48px;
    font-weight: 500;
}
#loginpic {
    position: fixed;
    bottom: 0;
    left: 0;
    height: 60vh; 
}
.fixed-text {
    position: fixed;
    margin-top: 15vh;
    margin-left: 15vh;
    top: 0;
    left: 0;
    font-weight: 600;
    font-size: 1.2rem;
}
#close {
    position: fixed;
    top: 0;
    left: 0;
    height: 3vh;
    width: 3vh;
    margin-top: 3vh;
    margin-left: 3vh;
}
@media (max-width: 768px) {
    #loginpic {
        display: none;
    }
    .container {
        padding: 20px;
        border-radius: 20px;
        width: 95%;
    }
    .form-group input {
        padding: 10px;
        font-size: 1rem;
        max-width: 100%;
    }
    h2 {
        font-size: 1.5rem;
    }
    .fixed-text {
        font-size: 1rem;
    }

}
@media (max-width: 1600px) {
    #loginpic {
        height: 55vh;
    }
}
@media (max-width: 1500px) {
    #loginpic {
        height: 40vh;
    }
}
@media (max-width: 1300px) {
    #loginpic {
        height: 30vh;
    }
}
@media (max-width: 1000px) {
    .container {
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 20px;
        width: 100%;
        height: auto;
    }
    .form-group input {
        padding: 20px; 
        font-size: 1.8rem;
        width: 80%;
        max-width: 500px;
    }

    .btn-primary {
        width: 40%;
        height: 60px;
        font-size: 1.6rem;
    }
}