* {
    font-family: "Fredoka";
}

.body-profil {
    font-family: "Fredoka";
    background-color: #F0E3D1;
    margin: 0;
    padding: 0;
    font-size: 20px;
}


.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2;
}

header {
    background-color: #C5A77E;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.brand{
    text-align: left;
    font-weight: bolder;
    font-size: 25px;
    text-decoration: none;
    color: #000;
}

header nav a {
    margin: 0 15px;
    text-decoration: none;
    color: #000;
    font-weight: normal;
    font-size: 20px;
}

nav {
    text-align: right;
}

.container-profil {
    display: flex;
    margin-right: 0;
}

.sidebar-profil {
    background-color: #F0E3D1;
    width: 30%;
    padding: 20px;
}

.sidebar-profil ul {
    list-style-type: none;
    padding: 0;
    width: fit-content;
}

.sidebar-profil ul li {
    margin: 15px 0;
    width: 100%;
    align-items: center;
    display: flex;
}

.sidebar-profil ul li a {
    text-decoration: none;
    color: #000;
    font-weight: 500;
    white-space: nowrap;
    flex: 1;
}

.sidebar-profil img {
    width: 30px;
    height: 30px;
    object-fit: cover;
    margin: 0 5px;
}

.icon{
    width: 20px;
    height: 20px;
}

.active {
    background-color: #FAF5EF;
    border-radius: 8px;
    padding: 10px 0px;
    width: 100%;
    display: flex;
    align-items: center;
}

.active a {
    color: black;
}

.profile-edit{
    display: inline;
    margin: 0;
    padding: 0;
}

.content-profile {
    flex: 1;
    padding: 20px;
    width: 100%;
    margin-left: auto;

}

.content h2 {
    font-size: 24px;
    color: #333;
}

.content h3 {
    font-size: 18px;
    color: #666;
    margin-bottom: 20px;
}

p > strong {
    font-weight: 500;
    font-size: 20px;
}

.data-card {
    background-color: #FAF5EF;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 15px;
    margin-bottom: 15px;
}

.data-card div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.data-card div p {
    margin: 0;
    font-size: 16px;
}

.user-table {
    width: 120%;
    border-collapse: collapse;
    background-color: #FAF5EF;
}

.user-table th{
    font-weight: 500;
}

.user-table th, .user-table td {
    padding: 15px;
    border-bottom: 1px solid #ddd;
    text-align: left;
}

.edit-btn, .delete-btn {
    padding: 10px 15px;
    margin-right: 5px;
    background-color: #B95C00;
    border: none;
    color: white;
    cursor: pointer;
}

.edit-btn:hover, .delete-btn:hover {
    background-color: #a37944;
}

.user-table img {
    width: 60px;
    height: 60px;
}
/* Tablet nézet (max 850px) */
@media (max-width: 850px) {

    .brand {
        font-weight: bolder;
        font-size: 30px;
        text-align: center;
        text-decoration: none;
        color: #000;
    }

    .body-profil {
        font-size: 20px;
        text-align: center;
    }

    .container-profil {
        flex-direction: column;
        text-align: center;
        align-items: center;
    }

    .sidebar-profil {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: fit-content;
        margin: 0 auto;
    }

    .sidebar-profil li {
        width: fit-content;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 5px;
    }

    p > strong{
        font-size: 20px;
          font-weight: 500;
    }

    .content-profile {
        width: 100%;
        margin-left: 0;
        text-align: center;
        font-size: 20px;
        justify-content: center;
    }

    header {
        flex-direction: column;
        text-align: center;
    }

    header nav {
        text-align: center;
        margin-top: 10px;
        font-size: 30px;
        font-weight: normal;
    }

    .user-table {
        width: 100%;
    }

    input{
        font-size: 20px;
    }

    strong{
        font-size: 20px;
    }
}

/* Mobil nézet (max 480px) */
@media (max-width: 480px) {

    .brand {
        font-weight: bolder;
        font-size: 33px;
        text-align: center;
        text-decoration: none;
        color: #000;
    }

    .body-profil {
        font-size: 33px;
        text-align: center;
    }

    header {
        padding: 10px;
        width: 100%;
        text-align: center;
    }

    header nav a {
        margin: 0 10px;
        text-align: center;
        font-size: 33px;
        font-weight: normal;
    }

     .content-profile {
        width: 100%;
        margin-left: 0;
        text-align: center;
        font-size: 33px;
    }

    .sidebar-profil {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 0 auto;
    }

    .sidebar-profil li {
        width: fit-content;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 5px;
    }

    .data-card {
        padding: 10px;
        text-align: center;
    }

   p > strong{
        font-size: 33px;
        font-weight: 500;
    }

    .user-table th{
        font-weight: 500;
    }

    .user-table th, .user-table td {
        padding: 10px;
        text-align: center;
    }

    .edit-btn, .delete-btn, button {
        padding: 8px 10px;
        text-align: center;
        font-size: 30px;
    }

    .user-table img, .sidebar-profil img, .icon {
        width: 30px;
        height: auto;
    }

     input{
        font-size: 33px;
    }

     strong{
         font-size: 33px;
     }
}
