<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bejelentkezés</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Fredoka:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/login.css">
</head>
<body>
    <!-- Flash Message Display -->
<div class="container mt-4">
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <div class="alert-container">
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                        {{ message }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}
</div>

    <div class="container">
        <h2>Bejelentkezés</h2>
        <form action="{{ url_for('login') }}" method="POST" id="loginForm">
            <div class="form-group">
                <input type="email" class="form-control" id="email" name="email" placeholder="E-mail cím" required>
            </div>
            <div class="form-group">
                <input type="password" class="form-control" id="password" placeholder="Jelszó" name="password" required>
            </div>
            <button type="submit" class="btn btn-primary">Belépek</button>
        </form>
        <p>Nincs még fiókod? <a href="{{ url_for('register') }}">Regisztráció</a></p>
    </div>

    <a href="/">
        <img src="../static/images/close 1.png" alt="Login Image" id="close">
    </a>
    <div>
        <p class="fixed-text">Több ezer ingatlan egy helyen - neked is van itt hely!</p>
    </div>

    <img src="../static/images/login.png" alt="Login Image" id="loginpic">

    <!-- Scripts -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
