<!DOCTYPE html>
<html lang="hu">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Regisztráció</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Fredoka:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/register.css">
</head>
<body>
<div class="container">
    <h2 class="mt-5">Regisztráció</h2>
    <form id="registerForm" action="{{ url_for('register') }}" method="POST">
        <div class="form-group">
            <input type="email" class="form-control" id="email" name="email" placeholder="Email cím" required>
        </div>
        <div class="form-group">
            <input type="password" class="form-control" id="password" name="password" placeholder="Jelszó" required>
        </div>
        <div class="form-group">
            <input type="password" class="form-control" id="confirm_password" name="confirm_password" placeholder="Jelszó megerősítése" required>
        </div>
        <button type="submit" class="btn btn-primary">Regisztráció</button>
        <p>Már van fiókja? <a href="/login">Jelentkezzen be itt</a></p>
        <p class="error-message" id="error-message"></p>
    </form>
</div>
<a href="/">
    <img src="../static/images/close 1.png" alt="Login Image" id="close">
</a>
<div>
    <p class="fixed-text">Több ezer ingatlan egy helyen - neked is van itt hely!</p>
</div>

<img src="../static/images/register.png" alt="Register Image" id="registerpic">

<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.bundle.min.js"></script>
<script>
    $(document).ready(function() {
        $('#registerForm').submit(function(event) {
            const password = $('#password').val();
            const confirm_password = $('#confirm_password').val();
            if (password !== confirm_password) {
                $('#error-message').text('A két jelszó nem egyezik meg!');
                event.preventDefault();
            } else {
                $('#error-message').text('');
                event.preventDefault();
                $.ajax({
                    type: 'POST',
                    url: '{{ url_for("register") }}',
                    data: $(this).serialize(),
                    success: function(response) {
                        location.reload();
                    },
                    error: function(response) {
                        $('#error-message').text('Hiba történt a regisztráció során.');
                    }
                });
            }
        });
    });
</script>
</body>
</html>